In [1]:
import pandas as pd
import numpy as np

In [2]:
A = {"Name_Teacher" : ["Ann", "Mala", "Sean", "Juan"], 
     "Category_1":["12.4", "15.20", "6.31", "7.5"], 
     "Category_2":["2.10", "3.12", "5.19", "4.9"],
     "DC":["2.1", "6.5", "7.1", "6.5"]}

In [3]:
print(A)

{'Name_Teacher': ['Ann', 'Mala', 'Sean', 'Juan'], 'Category_1': ['12.4', '15.20', '6.31', '7.5'], 'Category_2': ['2.10', '3.12', '5.19', '4.9'], 'DC': ['2.1', '6.5', '7.1', '6.5']}

In [4]:
Ad = pd.DataFrame(A, index=["I1", "I2", "I3", "I4"])

In [5]:
print(Ad)

   Name_Teacher Category_1 Category_2   DC
I1          Ann       12.4       2.10  2.1
I2         Mala      15.20       3.12  6.5
I3         Sean       6.31       5.19  7.1
I4         Juan        7.5        4.9  6.5

In [6]:
Ad2 = Ad.copy(deep = True) # deep=True will make sure that Ad2 and Ad are pointing to two different dataframes
Ad3 = Ad.copy(deep = True)

In [7]:
# let's rename the columns to Teacher, C1 and C2

Ad.columns = ["Teacher", "C1", "C2", "DC"]
print(Ad)

   Teacher     C1    C2   DC
I1     Ann   12.4  2.10  2.1
I2    Mala  15.20  3.12  6.5
I3    Sean   6.31  5.19  7.1
I4    Juan    7.5   4.9  6.5

In [8]:
# We can also use rename() method to rename columns. Here we only changes two column names

Ad2.rename(columns={"Name_Teacher": "Teacher", "Category_1": "C1", "Category_2":"C2"}, inplace=True)

In [9]:
print(Ad2)

   Teacher     C1    C2   DC
I1     Ann   12.4  2.10  2.1
I2    Mala  15.20  3.12  6.5
I3    Sean   6.31  5.19  7.1
I4    Juan    7.5   4.9  6.5

In [10]:
print(Ad)
print(Ad.dtypes)

   Teacher     C1    C2   DC
I1     Ann   12.4  2.10  2.1
I2    Mala  15.20  3.12  6.5
I3    Sean   6.31  5.19  7.1
I4    Juan    7.5   4.9  6.5
Teacher    object
C1         object
C2         object
DC         object
dtype: object

In [11]:
Ad = Ad.drop(["C1"], axis=1)

In [12]:
print(Ad)

   Teacher    C2   DC
I1     Ann  2.10  2.1
I2    Mala  3.12  6.5
I3    Sean  5.19  7.1
I4    Juan   4.9  6.5

In [13]:
# long way

# Ad["C2"] = Ad["C2"].astype(float)
# Ad["DC"] = Ad["DC"].astype(float)


convert_dict = {'C2': float,
                'DC': float}
  
Ad = Ad.astype(convert_dict)
print(Ad.dtypes)

Teacher     object
C2         float64
DC         float64
dtype: object

In [14]:
# iloc[n] will return the row at Python index n


print(Ad)

print("+++++++++++++")
print(Ad.iloc[2])

print("+++++++++++++")
print(Ad.iloc[[2]])

   Teacher    C2   DC
I1     Ann  2.10  2.1
I2    Mala  3.12  6.5
I3    Sean  5.19  7.1
I4    Juan  4.90  6.5
+++++++++++++
Teacher    Sean
C2         5.19
DC          7.1
Name: I3, dtype: object
+++++++++++++
   Teacher    C2   DC
I3    Sean  5.19  7.1

In [15]:
# we can also use slicing with iloc to get multiple rows

print(Ad.iloc[0:2])

   Teacher    C2   DC
I1     Ann  2.10  2.1
I2    Mala  3.12  6.5

In [16]:
# using loc[custom_index] we can access custom_index row. If there is no custom_index, it will consider Python index 

print(Ad.loc["I2"])

Teacher    Mala
C2         3.12
DC          6.5
Name: I2, dtype: object

In [17]:
"""
In-class activity 1: Create a Pandas dataframe that has the following information and 
call this dataframe df1:

First_Name - Asha, Ajay, Polly, Liz
Last_Name - Lani, Pali, Santos, Park
Zip_code - 20110, 57714, 76501, 95117

Rename the columns to First, Last and Zip
"""

'\nIn-class activity 1: Create a Pandas dataframe that has the following information and \ncall this dataframe df1:\n\nFirst_Name - Asha, Ajay, Polly, Liz\nLast_Name - Lani, Pali, Santos, Park\nZip_code - 20110, 57714, 76501, 95117\n\nRename the columns to First, Last and Zip\n'

<hr style="border:2px solid gray">

Next we will start with a list, convert it into a DataFrame, then rename the column, add another column etc.


<hr style="border:2px solid gray">

In [18]:
list1 = [12, 14, 16, 12, 18, 19, 16, 20, 17, 12]

B = pd.DataFrame(list1)

print(B)
print(B.shape)
print("Number of rows in B", B.shape[0])

    0
0  12
1  14
2  16
3  12
4  18
5  19
6  16
7  20
8  17
9  12
(10, 1)
Number of rows in B 10

In [19]:
# Since B doesn't have custom_index yet, iloc[n] and loc[n] will return nth row

print(B.iloc[5])

print(B.loc[5])

0    19
Name: 5, dtype: int64
0    19
Name: 5, dtype: int64

In [20]:
# drop_duplicates will drop duplicate rows

B.drop_duplicates(inplace=True)

print(B)
print("Number of rows in B", B.shape[0])

    0
0  12
1  14
2  16
4  18
5  19
7  20
8  17
Number of rows in B 7

In [21]:
# Adding column name to an exsisting dataframe

B.rename(columns={'0':"Values"}, inplace=True)

In [22]:
B.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 0 to 8
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7 non-null      int64
dtypes: int64(1)
memory usage: 112.0 bytes

In [23]:
# Adding custom index to an exsisting dataframe

B.index = ["A", "B", "C", "D", "E", "F", "G"]

print(B)

    0
A  12
B  14
C  16
D  18
E  19
F  20
G  17

In [24]:
# Adding additional columns to an existing dataframe

list2 = ["Ball", "Hall", "Doll", "Mall", "Shawl", "Wall", "Call"]

B["Names"] = list2

print(B)

    0  Names
A  12   Ball
B  14   Hall
C  16   Doll
D  18   Mall
E  19  Shawl
F  20   Wall
G  17   Call

In [25]:
B.rename(columns={0:'Values'}, inplace=True)

In [26]:
B.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, A to G
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Values  7 non-null      int64
 1   Names   7 non-null      object
dtypes: int64(1), object(1)
memory usage: 168.0+ bytes

In [27]:
print(B[B['Values']>15])

   Values  Names
C      16   Doll
D      18   Mall
E      19  Shawl
F      20   Wall
G      17   Call

In [28]:
"""
In-class activity 2: Use the df1 dataframe from the previous in-class activity and add 
another column named Scores with values 87, 85, 90, 77. 
Call the new dataframe as df2.
"""

'\nIn-class activity 2: Use the df1 dataframe from the previous in-class activity and add \nanother column named Scores with values 87, 85, 90, 77. \nCall the new dataframe as df2.\n'

<hr style="border:2px solid gray">

### Combining two dataframes

<hr style="border:2px solid gray">

In [29]:
print(list2)

['Ball', 'Hall', 'Doll', 'Mall', 'Shawl', 'Wall', 'Call']

In [30]:
print(B)

   Values  Names
A      12   Ball
B      14   Hall
C      16   Doll
D      18   Mall
E      19  Shawl
F      20   Wall
G      17   Call

In [31]:
list3 = [2.0, 6.1, 13.2, 5.3, 7.4, 6.3, 8.2]

C = pd.DataFrame(list(zip(list2, list3)), columns=("Names", "Numbers"))

print(C)

   Names  Numbers
0   Ball      2.0
1   Hall      6.1
2   Doll     13.2
3   Mall      5.3
4  Shawl      7.4
5   Wall      6.3
6   Call      8.2

In [32]:
newdf2 = pd.concat([B, C], axis=1)

print(newdf2)

   Values  Names  Names  Numbers
A    12.0   Ball    NaN      NaN
B    14.0   Hall    NaN      NaN
C    16.0   Doll    NaN      NaN
D    18.0   Mall    NaN      NaN
E    19.0  Shawl    NaN      NaN
F    20.0   Wall    NaN      NaN
G    17.0   Call    NaN      NaN
0     NaN    NaN   Ball      2.0
1     NaN    NaN   Hall      6.1
2     NaN    NaN   Doll     13.2
3     NaN    NaN   Mall      5.3
4     NaN    NaN  Shawl      7.4
5     NaN    NaN   Wall      6.3
6     NaN    NaN   Call      8.2

In [33]:
newdf3 = pd.concat([B, C], join = "inner") # inner is like intersection 

print(newdf3)

   Names
A   Ball
B   Hall
C   Doll
D   Mall
E  Shawl
F   Wall
G   Call
0   Ball
1   Hall
2   Doll
3   Mall
4  Shawl
5   Wall
6   Call

In [34]:
newdf4 = pd.concat([B, C], join = "outer", sort=True) # outer is like union

print(newdf4)

# concat with outer is same as append

   Names  Numbers  Values
A   Ball      NaN    12.0
B   Hall      NaN    14.0
C   Doll      NaN    16.0
D   Mall      NaN    18.0
E  Shawl      NaN    19.0
F   Wall      NaN    20.0
G   Call      NaN    17.0
0   Ball      2.0     NaN
1   Hall      6.1     NaN
2   Doll     13.2     NaN
3   Mall      5.3     NaN
4  Shawl      7.4     NaN
5   Wall      6.3     NaN
6   Call      8.2     NaN

In [35]:
newf5 = pd.merge(B, C, on="Names")

print(newf5)

   Values  Names  Numbers
0      12   Ball      2.0
1      14   Hall      6.1
2      16   Doll     13.2
3      18   Mall      5.3
4      19  Shawl      7.4
5      20   Wall      6.3
6      17   Call      8.2

<hr style="border:2px solid gray">

### Concatenating two series

<hr style="border:2px solid gray">

In [36]:
S1 = pd.Series([-1, -2, -6, -5])

S2 = pd.Series([9, 10, 4, 3])

print(S1); print(S2)

0   -1
1   -2
2   -6
3   -5
dtype: int64
0     9
1    10
2     4
3     3
dtype: int64

In [37]:
S3 = pd.concat([S1, S2], axis=1)
print(S3, type(S3))

   0   1
0 -1   9
1 -2  10
2 -6   4
3 -5   3 <class 'pandas.core.frame.DataFrame'>

In [38]:
S33 = S3.copy(deep=True)
print(S33)

   0   1
0 -1   9
1 -2  10
2 -6   4
3 -5   3

In [39]:
"""
In-class activity: For the above Series S3, add custom column names, C1 and C2 and custom 
row indices W, X, Y, Z.
"""

'\nIn-class activity: For the above Series S3, add custom column names, C1 and C2 and custom \nrow indices W, X, Y, Z.\n'

<hr style="border:2px solid gray">

### Example to convert categorical to numerical

<hr style="border:2px solid gray">

In [40]:
S4 = pd.Series(["A", "B", "E", "D"])

print(S4)

0    A
1    B
2    E
3    D
dtype: object

In [41]:
pd.get_dummies(S4) # when we want to convert a categorical variable into numeric

       A      B      D      E
0   True  False  False  False
1  False   True  False  False
2  False  False  False   True
3  False  False   True  False

In [42]:
"""
In-class activity 3: create dataframe ddf1 with values
Colors - Red, Yellow, Orange
Ratings- 5, 3, 4

Create another dataframe ddf2 with values

Colors - Blue, Green, Orange
Ratings- 5, 3, 4

1) Combine ddf1 and ddf2 along the rows and call it ddf3

2) Remove any duplicates from ddf3.

"""

'\nIn-class activity 3: create dataframe ddf1 with values\nColors - Red, Yellow, Orange\nRatings- 5, 3, 4\n\nCreate another dataframe ddf2 with values\n\nColors - Blue, Green, Orange\nRatings- 5, 3, 4\n\n1) Combine ddf1 and ddf2 along the rows and call it ddf3\n\n2) Remove any duplicates from ddf3.\n\n'