Pandas is a popular Python module that provides high performance data 
structures and data analysis tools. Pandas is widely used to transform 
raw data for data analysis and machine learning. We will learn: 

• data frames and data series 

• reading from files 

• data transformation 

• data visualization 

• statistical analysis

Wes McKinney developed on Pandas and open sourced it in 2009. Later Chang She become the primary contributor.

## Data frames and Data series

Series - is a one-dimensional Python object that corresponds to one column 
in a table.

In [ ]:
'''
First things first, let's import pandas
'''
import pandas as pd
import numpy as np

Creating a data series from a list

In [ ]:
a = [11, 15, 16, 21]

sa = pd.Series(a, dtype=float)
print(type(sa))
print(sa)

In [ ]:
b = [1, 2, '12']

sb = pd.Series(b)

print(sb)

In [ ]:
list1 = ['Grapes', 'Apples', 'Oranges', 'Bananas']

s1 = pd.Series(list1)

print(list1, type(list1))

print(type(s1))
print(s1)

Notice that rows are given numbers, these numbers are known as indices. Indices starts from 0 and go up.

We can provide custom index as well.

In [ ]:
# defining list2 with indices
list2 = ['GR', 'AP', 'OR', 'BA']

# In series1 we say index=list2
series1 = pd.Series(list1, index=list2)
print(series1)

In [ ]:
print(s1[0])

print(series1["GR"])

Now let us define a dictionary and convert it into a series.

In [ ]:
d1 = {'Z': 'Zynga', 'U': 'Uber', 'G':'Google'}

ds1 = pd.Series(d1)
print(ds1)

Let's create a series with company name as index and its current stock price as 
value. Notice that in the code below, we have a dictionary with two keys 
having None as their values.

In [ ]:
d2= {'Amazon': None, 'Nvidia': None}

companies = pd.Series(d2, name='Price')

print(companies)

In [ ]:
d2= {'Amazon': 2100.0, 'Nvidia': 350}

companies = pd.Series(d2, name='Price')

print(companies)

In [ ]:
print(companies['Amazon'])

In [ ]:
d3= {'Amazon': 852, 'Nvidia': 'NaN', 'Alphabet': 856, 'Toyota': '112', \
    'GE': 29, 'Ford': 12, 'Marriot': None, 'amazon': 1000}

companies = pd.Series(d3, name='Price')

print(companies)

Using the index we can get the corresponding stock prices. Below we are 
retrieving the stock price of Ford.

In [ ]:
print(companies['Ford'])

In [ ]:
print(companies[['Ford']])

We can also get stock prices for more companies. We have to supply the indices 
that we are interested in as a list.

In [ ]:
print(companies[['Ford']])
print(companies[['GE']])

In [ ]:
print(companies[['Ford', 'GE']])

In [ ]:
print(companies[:])

In [ ]:
print(companies[2:6])

Membership can be checked using the 'in' keyword.

In [ ]:
print('Amazon' in companies)
print('Apple' in companies)

If we want to know companies for which we don't have stock price, then we have 
to use the isnull(). True will be returned for the indices that don't have a 
value and False for the indices that have 
a value.

In [ ]:
d2 = {'Amazon': 3202, 'Nvidia': None, 'Alphabet': 2349, 'Toyota': np.nan, \
    'GE': 14, 'Ford': 16, 'Marriot': None, 'amazon': 3000}

companies = pd.Series(d2)

print(companies)

In [ ]:
print(companies)
print("+++++++++++++++++")
print(companies.isnull())
print("+++++++++++++++++")
print(companies.isnull().sum())
print("+++++++++++++++++")
print(companies.notnull().sum())

In [ ]:
b1 = False
print(int(b1))
print(float(b1))

b2 = True
print(int(b2))
print(float(b2))

In [ ]:
c = np.array([True, False, False, False])

print(c.sum())

A dataframe is a tabular data structure that consists of rows and columns. 
Dataframe is nothing but a collection of series.

Let's create a dataframe using a dicitonary as shown below.

In [ ]:
c1= {'Name': ['Amazon', 'GE', 'Toyota', 'Twitter', 'Ford', 'Marriot'],
     'Founded': [1994, 1923, 1937, 2006, 1903, 1927], 
     'Price': [852, 111.2, 112, 15.2, 12.5, 88.31]}

companies = pd.DataFrame(c1)

print(companies)

print(companies.columns)

In [ ]:
c1 = {'Name': ['Amazon', 'GE', 'Toyota', 'Twitter', 'Ford', 'Marriot'],
     'Founded': [1994, 1923, 1937, 2006, 1903, 1927], 
     'Price': [852, 111.2, 112, 15.2, 12.5, 88.31],
     'Name': ['Apple', 'Google', 'Toyota', 'Twitter', 'Ford', 'Marriot']}

companies = pd.DataFrame(c1, columns=['Name', 'Price', 'Founded'])

print(companies)

print("+++++++++++")
print(companies.columns)

In [ ]:
companies[0:4]

In [ ]:
c1 = {'Founded': [1994, 1923, 1937, 2006, 1903, 1927],
     'Price': [852, 111.2, 112, 15.2, 12.5, 88.31]}

# here Name is a separate list
Name = ['Amazon', 'GE', 'Toyota', 'Twitter', 'Ford', 'Marriot']

cc = pd.DataFrame(c1, index=Name)

print(cc)

In [ ]:
c1 = {'Name' : ['Amazon', 'GE', 'Toyota', 'Twitter', 'Ford', 'Marriot'],
      'Founded': [1994, 1923, 1937, 2006, 1903, 1927],
      'Price': [852, 111.2, 112, 15.2, 12.5, 88.31]}



cc = pd.DataFrame(c1)

cc.set_index('Name', inplace=True)

print(cc)

In [ ]:
"""
In-class activity: Create a data series which comprises of names of 6 
US capitals. Print the contents of the data series.
"""
d1 = ['Sacramento', 'Albany', 'Oklahoma City', 'Denver', 'Phoenix', 'Carson City' ]

capitals = pd.Series(d1)

capitals

In [ ]:
"""
In-class activity: To the above data series include state of each capital as an index. 
"""
d1 = {'CA': 'Sacramento', 'NY': 'Albany', 'OK': 'Oklahoma City', 'CO': 'Denver', 'AZ':'Phoenix', 'NV': 'Carson City'}

capitals = pd.Series(d1)

capitals

## Reading files

Reading a csv file.

In [ ]:
import pandas as pd

movies = pd.read_csv('alldata/imdb_movie/movie_metadata.csv')

print(type(movies))
# head() will print the first 5 rows
movies.head()

In [ ]:
print(movies.head())

In [ ]:
print(movies.columns)

In [ ]:
print(movies.dtypes)

In [ ]:
print(movies.shape)

In [ ]:
# for number of rows use shape[0]
print(movies.shape[0])

In [ ]:
# for number of columns use shape[1]
print(movies.shape[1])

In [ ]:
print(type(movies))

In [ ]:
movies

We can create a series from the movies dataframe.

In [ ]:
movies_dir = movies['director_name']
print(type(movies_dir))
print(movies_dir.head())

In [ ]:
print(type(movies_dir))

## Creating a smaller dataframe

Let's create a new dataframe with columns: 
movie_title, duration, budget, gross, genres, director_name.

In [ ]:
newmovies = movies[['movie_title', 'duration', 'budget', 'gross', 'genres', 'director_name']]
print(newmovies.head())

In [ ]:
print(newmovies.shape)

We can use sort_values() to sort a dataframe.

In [ ]:
print(newmovies.sort_values('director_name').head())

In [ ]:
newmovies.sort_values('director_name').head()

Notice that not all values in our data frame are finite. So, now we want to drop 
rows that have NaN in any column.

## Data Transformation

### Mutability

In [ ]:
# Example of shallow copy

listA = [12, 20]

listB = listA # shallow copy

print(listA)
print(listB)


print("++++++++++++++")
listB.append(-1000)

print(listA)
print(listB)

In [ ]:
# Example of deep copy
import copy

listA2 = [12, 20]

listB2 = listA2.copy() # deep copy

print(listA2)
print(listB2)


print("++++++++++++++")
listB2.append(-3000)

print(listA2)
print(listB2)

### Creating a deep copy of newmovies

Dropping rows that have NaN anywhere

In [ ]:
newmovies1 = newmovies.copy(deep=True) # making a deep copy

In [ ]:
newnew = newmovies1.copy(deep=False)

In [ ]:
newmovies1.dropna(how='any', inplace=True) 
# dropping rows that have NaN anywhere inplace, so the newmovies1 gets modified

In [ ]:
print(newmovies1.head())
print(newmovies1.shape)

#### Note after dropping rows with NaN in any column

Total rows = 5043
after the dropna with any, total rows = 3890

Rows that are dropped = (5043-3890) = 1153

So, around 20% rows got dropped.

#### Applying dropna to a subset

In [ ]:
newmovies2 = newmovies.copy(deep=True)
newmovies2.dropna(subset=['duration','budget'], how='any', inplace=True)

In [ ]:
print(newmovies2.head())

In [ ]:
newmovies2

In [ ]:
print(newmovies2.shape)

#### Note after dropna with any on the subset duration and budget

Total rows = 5043
after this transformation, rows remianing is = 4546

rows dropped = 5043 - 4546

Close to ten percent.

#### Applying dropna with all to a subset

In [ ]:
newmoviesA = newmovies.copy(deep=True) # making a deep copy

In [ ]:
newmoviesA.dropna(subset=['duration','budget'], how='all', inplace=True)

In [ ]:
print(newmoviesA.shape)

In [ ]:
newmoviesAA = newmovies.copy(deep=True)

In [ ]:
newmoviesAA.dropna(subset=['duration','budget'], how='any', inplace=True)

In [ ]:
print(newmoviesAA.shape)

### Creating a dataframe from the original dataframe with a condition

In [ ]:
newmovies['gross']>350000

In [ ]:
new_gross = newmovies[newmovies['gross']>350000] # condition
print(new_gross.shape)
print(new_gross.head())

In [ ]:
new_gross_2 = newmovies[(newmovies['gross']>350000) & (newmovies['gross']<1000000)] # condition
print(new_gross_2.shape)
print(new_gross_2.head())

In [ ]:
"""
In-class activity: Create a dataframe called new_budget where the budget is greater than 400000 and is less than a billion.
"""
new_budget = newmovies[(newmovies['budget']>400000) & (newmovies['budget']<1000000000)]
print(new_budget.shape)
print(new_budget.head())

## Statistical Analysis

In [ ]:
print(newmovies1.shape)

print(newmovies1.describe())

We can find how many values in each column of newmovies has NAN using isnull().

In [ ]:
print(newmovies.isnull().sum())

In [ ]:
print(newmovies.describe())

### Filling NaN values 

First in duration and then in gross

In [ ]:
newmovies3 = newmovies.copy(deep=True)

print(newmovies3.isnull().sum())

print(newmovies3.describe())

print("+++++++++++++++++++")
print("Isnull after filling the NAN in the Duration column")

newmovies3['duration'] = newmovies3['duration'].fillna(value=90)

print(newmovies3.isnull().sum())
print(newmovies3.describe())

In [ ]:
print("Isnull after filling the NAN in the gross column")
newmovies3['gross'] = newmovies3['gross'].fillna(value=500000)
print(newmovies3.isnull().sum())
print(newmovies3.describe())

In [ ]:
print(newmovies3.describe())

In [ ]:
print(newmovies.describe())

In [ ]:
# mean of a column in a dataframe

print(newmovies["duration"].mean())

In [ ]:
"""
In-class activity: From the movies data frame, create a new data 
frame that comprises of movie title, duration, budget and gross. 
1) Find the number of NaN in gross.
2) Replace NaN in gross with the mean of gross.
"""
newmovies2 = newmovies.copy(deep=True)
df = pd.DataFrame(newmovies2, columns=['movie_title', 'duration', 'budget', 'gross'])
print(df.shape)
print(df.describe())
print(df.isnull().sum())

df['gross'] = df['gross'].fillna(value=4.846841e+07)

print(df.shape)
print(df.describe())
df.head()
print(df.isnull().sum())

### Reading content from a website

In [ ]:
url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
countries = pd.read_csv(url)

In [ ]:
print(countries.head())
print(countries.shape, countries.shape[0])

In [ ]:
print(countries.describe())

In [ ]:
print(type(countries))

#### Another Example

In [ ]:
# Webpage URL
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Read data from URL
iris_data = pd.read_csv(url)

iris_data.head()

In [ ]:
# Webpage URL
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Read data from URL
iris_data = pd.read_csv(url, header=None)

iris_data.head()

In [ ]:
# Webpage URL
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Define the column names
col_names = ["sepal_length_in_cm",
            "sepal_width_in_cm",
            "petal_length_in_cm",
            "petal_width_in_cm",
            "class"]

# Read data from URL
iris_data = pd.read_csv(url, names=col_names)

iris_data.head()

## Data Visualization

The below line will make sure that the image created by the mathplot will be 
shown inside Jupyter notebook.

In [ ]:
%matplotlib inline

Let us plot a histogram for duration time.

In [ ]:
newmovies3.duration.plot(kind='hist', bins=30)

In [ ]:
import matplotlib.pyplot as plt

n, bins, patches = plt.hist(newmovies3['duration'], 10, density=1,facecolor = "r", alpha = 0.8)

print(len(n)) 
print("n:", n)
print("bins: ", bins)
print("++++++++++++++++")
print(patches)
plt.show()

Let's consider another dataset to understand different plotting choices.

In [ ]:
company = pd.read_csv('company.csv')
print(company.head())
print(company.shape)

In [ ]:
print(company.head(15))

In [ ]:
company = pd.read_csv('company.csv')
company = company.set_index('Name')
print(company.head())

We plot a scatter plot between the columns sales_budget and marketing_budget.

In [ ]:
company.plot(kind='scatter', x ='marketing_budget', y='sales_budget')

Creating a series with column sales_budget.

In [ ]:
sales = company['sales_budget'].copy(deep=True)
sales.sort_values(inplace=True)

print(sales)

In [ ]:
sales_plot = sales.plot(kind='bar', color='green')
sales_plot.set_xlabel("Company Name")
sales_plot.set_ylabel("Sales")

In [ ]:
"""
In-class activity: Use the companies data frame and create a data 
series with company name and marketing budget. 
1) Create a bar graph with company name on the x-axis and 
marketing budget on the y-axis. 
"""

#### Important sites to get datasets from

https://archive.ics.uci.edu/ml/index.php

www.kaggle.com

https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf